<div class="container">
  <h2 class="pink-text text-accent-3">Arquitetura de software</h2>
  <p>A disciplina arquitetura de software faz um compilado de outros
    conteúdos do curso de Análise de Sistemas, como banco de dados,
    linguagem de programação orientada a objetos - WEB (Java/ C#),
    desenvolvimento mobile, computação em nuvem e engenharia de software.
    O foco é unir todos esses conhecimentos de forma coerente e documentá-los
    no Documento de Arquitetura de Software (DAS). </p>
    <p>Por essa razão a disciplina pode ser bastante complicada para alguns
    alunos, pois exige a utilização de conhecimentos adquiridos ao longo do curso
    ou a abstração de alguns conhecimentos que estão por vir (caso a disciplina
    não esteja acontecendo no final do curso).
    Por outro lado, é uma disciplina que auxilia bastante tanto na elaboração do
    PAP quanto na composição da ideia para um. </p>
    <p> Se você estiver cursando esta disciplina, fique calmo! Vai dar tudo certo =).
    Sobre o Angular, ele é bem legal. Se tiver tempo, de uma olhada no materialize
    para deixar seu projeto bem bonito. Mas isso será um conhecimento plus para te auxiliar
    na vida profissional (caso for seguir em desenvolvimento web). </p>
</div>
