<footer class="page-footer positivo-color">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">profª. Juliana Tibães</h5>
        <p class="grey-text text-lighten-4">
          Este projeto foi desenvolvido para a matéria de Arquitetura de Software da
          Universidade Positivo.
        </p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Sobre Materialize</h5>
        <ul>
          <li><a class="white-text" href="http://materializecss.com/">Materialize</a></li>
          <li><a class="white-text" href="https://github.com/Dogfalo/materialize">Github</a></li>
          <li><a class="white-text" href="https://material.io/guidelines/material-design/introduction.html">Material.io</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Sobre Angular</h5>
        <ul>
          <li><a class="white-text" href="https://angular.io/">Angular</a></li>
          <li><a class="white-text" href="https://github.com/angular/angular">Github</a></li>
          <li><a class="white-text" href="https://www.w3schools.com/angular/angular_intro.asp">W3shcools</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright positivo-dark-color">
    <div class="container">
     <a class="white-text text-lighten-3" href="http://www.up.edu.br/">Universidade Positivo</a>
    </div>
  </div>
</footer>
