
/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 .icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.positivo-color {
  background-color: rgb(36, 36, 122) !important;
}

.positivo-dark-color {
  background-color: rgb(29, 29, 97) !important;
}

/*
 * Component: Place Info Box
 * -------------------
 */
 .place-info-box {
  color: #555;
  display: block;
  min-height: 120px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-bottom: 15px;
}
.place-info-box small {
  font-size: 14px;
}
.place-info-box .progress {
  background: rgba(0, 0, 0, 0.2);
  margin: 5px -10px 5px -10px;
  height: 2px;
}
.place-info-box .progress,
.place-info-box .progress .progress-bar {
  border-radius: 0;
}
.place-info .progress .progress-bar {
  background: #fff;
}
.place-info-box-icon {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-top: 5px;
  margin-left: 2px;
  display: block;
  float: left;
  /*height: 120px;*/
  width: 115px;
  text-align: center;
  background: #fff;
}
.place-info-box-icon > img {
  max-width: 95%;
  /*border-right: 1px solid rgba(0, 0, 0, 0.1);*/
}
.place-info-box-content {
  padding: 5px 10px;
  margin-left: 120px;
}
.place-info-box-detail {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  width: 100%;
}

.place-info-box-text {
  display: block;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  text-transform: uppercase;
  width: 100%;
  float: left
}
